<div class="show_block success_stories_show">
  <h1>Success Stories</h1>
  <div class="row">
    <% @success_stories.each do |story| %>
      <div class="success_stories_show_block col-md-6">
        <h4><%= image_tag story.image_url(:thumb) %> <%= link_to story.title, story %></h4>
        <p>Needed: <%= number_to_currency story.cost %>, 
        Received: <%= number_to_currency story.received_donations %>, for 
        <%= story.percentage_of_goal %>% of the goal!
      </div>
    <% end %>
  </div>
</div>
