<h2>Edit <%= @user.name %></h2>
<% if flash.any? %>
  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%= value %></div>
    <% end -%>
  </div>
<% end %>
<div>
  <%= render "user_info_form" %>
</div>
<div>
  <%= button_to "Disable My Account", @user, data: { confirm: "Are you sure? This CAN'T be undone." }, method: :delete %>
</div>
