<div class="row">
  <div class="project_progress_block col-xs-12 col_centered">
    <h4 class="col_centered"><%= @percent_header_text %></h4>
    <div class="progress">
        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="5000" style="width: <%= @percentage %>%;">
          &nbsp;<%= number_to_percentage(@percentage, {precision: 0}) %>
      </div>
    </div>
  </div>

  <div class="show_block project_show col-xs-12 col-sm-7">
    <h2><%= @project.title %></h2>
    <div class="project_show col-xs-12">
      <%= image_tag  @project.image_url(:standard_size) %>
      <p><%= @project.image_identifier %></p>
    </div>
    <div class="display_newlines">
      <%= @project.blurb %>
    </div>
    <div class="display_newlines">
      <%= @project.description %>
    </div>
    <div>
      <h4>Total: <%= number_to_currency @project.cost %></h4>
    </div>
  </div>

  <div class="show_block donation_levels col-xs-12 col-sm-4">
    <h2>Donation Levels</h2>
    <% if signed_in? %>
      <% if current_user.allowed_to_modify?(@project) %>
        <div class="show_block donation_levels col-xs-12 col-sm-12">
          <h4>Need Donation Levels?</h4>
          <%= link_to "Add a donation level", new_project_level_path(@project), class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    <% end %>

    <div>
      <% @levels.each do |level| %>
        <div class="show_block donation_levels col-xs-12 col-sm-12">
          <div>
            <h4><%= level.title %> - 
            <%= number_to_currency level.amount %></h4>
          </div>
          <div>
            <%= level.description %>
          </div>
          <div>
            <%= number_to_currency level.amount %>
          </div>
          <% if signed_in? %>
            <%= bootstrap_form_for [level, @donation] do |form| %>
              <span id="submit_level_<%= level.id %>">
                <%= form.submit "Donate", method: :create, class: "btn btn-primary donate pull-right" %>
              </span>
            <% end %>
          <% else %>
            <%= button_to "Sign in to Donate", [:new, :session], method: :get, class: "btn btn-primary pull-right" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
