<h2><%= @project.title %></h2>
<div>
  <%= @project.blurb %>
</div>
<div>
  <%= @project.description %>
</div>
<div>
  Total $<%= @project.cost %>
</div>

<h2>Donation Levels</h2>
<div>
  <% @levels.each do |level| %>
    <div>
      <h3><%= level.title %></h3>
    </div>
    <div>
      <%= level.description %>
    </div>
    <div>
      $<%= level.amount %>
    </div>
  <% end %>
</div>

<% if signed_in? %>
  <% if current_user.allowed_to_modify?(@project) %>
    <%= link_to "Add a donation level", new_project_level_path(@project) %>
  <% end %>
<% end %>
