<div class="project_show_block">
  <h2><%= @project.title %></h2>
  <div class="display_newlines">
    <%= @project.blurb %>
  </div>
  <div class="display_newlines">
    <%= @project.description %>
  </div>
  <div>
    Total: <%= number_to_currency @project.cost %>
  </div>
</div>

<div class="donation_levels_block">
  <h2>Donation Levels</h2>

  <% if signed_in? %>
    <% if current_user.allowed_to_modify?(@project) %>
      <%= link_to "Add a donation level", new_project_level_path(@project), class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <div>
    <% @levels.each do |level| %>
      <div>
        <h3><%= level.title %></h3>
      </div>
      <div>
        <%= level.description %>
      </div>
      <div>
        <%= number_to_currency level.amount %>
      </div>
        <% if signed_in? %>
          <%= bootstrap_form_for [level, @donation] do |form| %>
            <span id="submit_level_<%= level.id %>">
              <%= form.submit "Donate", method: :create, class: "btn btn-primary donate" %>
            </span>
          <% end %>
        <% else %>
          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-level="<%= level.id %>">Sign in to Donate</button>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <%= render "modal_button.html" %>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
