<h2>Your Projects</h2>
<% if current_user.projects.any? %>
  <% current_user.projects.each do |project| %>
    <div class="thumb_list_wrapper">
      <span class="thumb_left"><%= image_tag project.image_url(:thumb) %></span>
      <span class="no_image_wrap"><%= link_to project.title, project %><br />
      Needed: <%= number_to_currency project.cost %>,
      Raised: <%= number_to_currency project.received_donations %></span>
    </div>
  <% end %>
<% else %>
  You haven't created any projects.
  <%= link_to "Create a project", [:new, :project],
    class: "btn btn-primary pull-right" %>
<% end %>
