<% if signed_in? %>
  <div class="container-fluid">
    <div class="jumbotron masthead">
      <h1>Welcome, Hero!</h1>
    </div>
      <div class="hero-unit">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 show_block dashboard_show_your_projects">
              <%= render "your_projects" %>
            </div>
            <div class="col-sm-6 show_block dashboard_show_you_funded">
              <%= render "projects_you_funded" %>
            </div>
          <div>
        </div>
      </div>
    </div>
  </div>
<%else%>
  <div class="jumbotron masthead">
    <%= render "you_can_be_a_hero" %>
  </div>
  <div class="hero-unit">
    <%= render "how_it_works" %>
  </div>
<%end%>

<div class="container-fluid">
  <div class="hero-unit">
    <h1>Featured Projects</h1>
    <%= render "featured" %>
  </div>
  <%= render "layouts/carousel_featured" %>
  <div class="hero-unit">
    <h1>More Cool Projects</h1>
    <%= link_to "See All Projects", 
    projects_path, class: "btn btn-primary btn-large pull-right" %>
  </div>
  <div class="container-fluid">
      <%= render "cool_projects" %>
  </div>
</div>
