<% if flash.any? %>
  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%= value %></div>
    <% end -%>
  </div>
<% end %>
<%if signed_in? %>
  <div class="jumbotron masthead">
    <h1>Welcome, Hero!</h1>
  </div>
  <%= render "your_projects" %>
  <%= render "projects_you_funded" %>
<%else%>
  <div class="jumbotron masthead">
    <%= render "you_can_be_a_hero" %>
  </div>
  <div class="hero-unit">
    <%= render "how_it_works" %>
  </div>
<%end%>

<div class="container">
  <div class="hero-unit">
    <h1>Featured Projects</h1>
    <%= render "featured" %>
  </div>
  <%= render "layouts/carousel_featured" %>
  <div class="hero-unit">
    <h1>More Cool Projects</h1>
    <%= render "cool_projects" %>
  </div>
</div>
