<% if signed_in? %>
  <div class="jumbotron masthead">
    <h1>Welcome, Hero!</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <span class="col-md-6 col-lg-7 col-lg-offset-1 dashboard_show_your_projects_block">
        <%= render "your_projects" %>
      </span>
      <span class="col-md-4 col-lg-4 col-lg-offest-1 dashboard_show_you_funded_block">
        <%= render "projects_you_funded" %>
      </span>
    </div>
  </div>
<%else%>
  <div class="jumbotron masthead">
    <%= render "you_can_be_a_hero" %>
  </div>
  <div class="hero-unit">
    <%= render "how_it_works" %>
  </div>
<%end%>

<div class="container">
  <div class="hero-unit">
    <h1>Featured Projects</h1>
    <%= render "featured" %>
  </div>
  <%= render "layouts/carousel_featured" %>
  <div class="hero-unit">
    <h1>More Cool Projects</h1>
    <%= render "cool_projects" %>
  </div>
</div>
