<div>
  <% if signed_in? %>
    <%= link_to "Create Project", [:new, :project] %>
    Signed in as <%= current_user.name %>, not you?
    <li><%= button_to "Sign out", :session, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", [:new, :session] %></li>
  <% end %>
</div>
<%= render "flash_messages" %>
