<!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="featured_projects_carousel" class="carousel slide" data-ride="carousel"><!-- class of slide for animation -->
  <div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <%= start_centering %>
      <img src="https://s3.amazonaws.com/omrails_images/images/featured/SolarOnRoof1200x480.jpg" alt="Solar on a school roof, Black Rock Solar flickr stream, creative commons license" />
      <div class="carousel-caption">
        <p>Sample Photo, not a GPH project: Black Rock Solar's solar roof on Truckee Meadows Community College Vista Building, source: <a href="http://www.flickr.com/photos/freethesun/8552190897/">flickr stream</a>, creative commons license</p>
      </div>
      <%= end_centering %>
    </div>
    <div class="item">
      <%= start_centering %>
      <img src="https://s3.amazonaws.com/omrails_images/images/featured/Insulation1200x480.jpg" alt="Insulation project from Velo Steve's creative commons flickr stream, http://www.flickr.com/photos/juniorvelo/" />
      <div class="carousel-caption">
        <p>Sample Photo, not a GPH project: Velo Steve insulation project <a href="http://www.flickr.com/photos/juniorvelo/">Insulation</a>, creative commons license</p>
      </div>
      <%= end_centering %>
    </div>
    <div class="item">
      <%= start_centering %>
      <img src="https://s3.amazonaws.com/omrails_images/images/featured/BlowerDoor1200x480.jpg?" alt="Energy audit blower door image, Brandon Strafford, creative commons license, http://www.flickr.com/photos/pingswept/4360064655/lightbox/" />
      <div class="carousel-caption">
        <p>Sample Photo, not a GPH project: Brandon Strafford <a href="http://www.flickr.com/photos/pingswept/4360064655/lightbox/">The blower door in place</a>, creative commons license</p>
      </div>
      <%= end_centering %>
    </div>
    <div class="item">
      <%= start_centering %>
      <img src="https://s3.amazonaws.com/omrails_images/images/featured/Wind1200x480.png" alt="Searsburg wind towers, photo from redjar's flickr stream, creative commons license, http://www.flickr.com/photos/redjar/113885464/lightbox/" />
      <div class="carousel-caption">
        <p>Sample Photo, not a GPH project: redjar flickr stream, <a href="http://www.flickr.com/photos/redjar/113885464/lightbox/">Searsburg Wind Power Facility</a>, creative commons license</p>
      </div>
      <%= end_centering %>
    </div>
  </div><!-- /.carousel-inner -->
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#featured_projects_carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#featured_projects_carousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
