<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag  "application" %>
    <%= csrf_meta_tags %>
    <title>GreenPlanetHeroes</title>
  </head>
  <body>
    <%= render "header" %>
    /*I know this inline style is ugly, it's temporary until I do the next round of css work. The topmost field on forms is hidden behind the header without this spacer.*/
    <p style="display:block; padding:60px;"></p>
    <%= yield %>
  </body>
</html>
